<div class="dialog-container">
  <header>
    <div class="title">Read SMS</div>
    <mat-icon class="close" (click)="onClose()">clear</mat-icon>
  </header>
  <div class="dialog-content">
    <div class="inputs">
      <mat-form-field>
        <input matInput placeholder="Key Word" [(ngModel)]="keyWord">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Mobile Number" type="number" [(ngModel)]="mobileNumber">
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="fromDate" placeholder="From Date" [value]="startDate">
        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
        <mat-datepicker touchUi #fromDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="toDate" placeholder="To Date" [value]="endDate">
        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
        <mat-datepicker touchUi #toDate></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="dialog-actions">
      <button mat-raised-button (click)="onClose()">Close</button>
      <button mat-raised-button (click)="onSave()">Save Changes</button>
  </div>

</div>
